---
layout: post
asset: 'hellosm'
---
<h1>Welcome to the living well.</h1>

<p>I want to make space for the authentic pursuit of wellness. Don't understand yoga? I feel you. Rather eat tree bark than try kale? Lean into that, sister. Your journey won't look like mine, and that's what I'm after. Read about my journey to living well, while claiming healthy rhythms that are all your own.</p>

<br><br>
<h2>recent posts</h2>
<br>

{% for post in site.posts limit: 5 %}
  {% include post.html post=post %}
{% endfor %}
