<style scoped>
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }

  .card {
    background: white;
    border-radius: 4px; 
    margin-bottom: 2rem; 
    overflow: auto; 
    max-width: 30em; 
  }
  .card-image {
    display: block; 
    margin: 0 auto; 
    border-radius: 0; 
  }
  .card-content { padding: 1rem; }
  .card-header { 
    font-weight: bold;  
    margin-bottom: 2rem;
  }
  .card-header--title { margin-bottom: .5rem; }
  .card-header--title a { color: black; }
</style>

<div class="card">
  {% if post.asset %}
  <img class="card-image" src="/assets/images/{{ post.asset }}.jpg">
  {% endif %}
  
  <div class="card-content">
    <div class="card-header">
      <h1 class="card-header--title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <a href="{{ post.url }}">{{ post.category }} well</a> // {{ post.date | date: "%m.%d.%y" }}
    </div>
  
    {{ post.content | strip_html | truncate: 256 }}
  </div>
</div>

