---
---
@charset "utf-8";
@import "normalize";

$color: #0BA59F; 
$color-black: #444; 

html {
  font-size: 10px;
}

body {
  font-family: Open Sans; 
  font-size: 1.6rem; 
  line-height: 1.5em; 
  color: $color-black; 
}

h1,
h2,
h3,
p,
blockquote,
img,
ul,
ol { margin: 0 0 2rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-weight: normal; 
  line-height: 1em; 
}

img {
  width: 100%; 
}

blockquote {
  border-left: double #ddd; 
  padding: 2rem; 
  font-style: italic; 
}

li { margin-bottom: 1.6rem; }

.site-wrapper {
  max-width: 960px; 
  width: 760px; 
  margin: 5rem auto; 
}

.site-header {
} 

.site-header-logo {
  max-width: 300px; 
}

.site-content {
  display: flex; 
} 

.sidebar {
  flex: 1 30%;
  padding-right: 4rem; 
  max-width: 150px;
}

.sidebar-nav { 
  margin: 0; 
  padding: 0; 
  padding-top: 3rem; 
}
.sidebar-nav-item { list-style: none; }
.sidebar-nav-item-link {
  position: relative; 
  color: $color-black; 
  text-decoration: none; 
  display: block; 
  font-size: 1.8rem;
  padding: .75rem 1rem; 
  background: #F3F3F4;
  margin: 0 0 1rem; 
  &:hover {
    color: white; 
    background: $color; 
  }
  &::after {
    content: '';
    position: absolute;
    right: 0; 
    top: 0; 
    width: 0;
    height: 0;
    clear: both;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2rem 2rem 2rem 0;
    border-color: transparent white transparent transparent;
  }
}

.main {
  flex: 1 65%;
}

.site-footer {
  margin-top: 1rem; 
  display: flex; 
  border-top: double #ddd; 
} 

// Post-related

.post {
  margin-bottom: 2rem;   
}

.post-header {
  margin-bottom: 5rem; 
}

.post-title {
  font-weight: normal; 
  color: $color; 
  margin-bottom: 1rem; 
  a { color: $color; }
}

.post-date {
  font-weight: normal; 
  color: $color; 
}