---
---
@charset "utf-8";
@import "normalize";

$color: #0BA59F; 
$color-black: #444; 

html {
  font-size: 10px;
}

body {
  font-family: Open Sans; 
  font-size: 1.6rem; 
  line-height: 1.5em; 
  color: $color-black; 
}

h1,
h2,
h3,
p,
blockquote,
img,
ul,
ol { margin: 0 0 2rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-weight: normal; 
  line-height: 1em; 
}

h1 { font-size: 1.75rem; }
h2 { font-size: 1.45rem; }
h3 { font-size: 1.2875rem; }

a {
  color: $color;
}

img {
  max-width: 100%; 
}

blockquote {
  border-left: double #ddd; 
  padding: 2rem; 
  font-style: italic; 
}

li { margin-bottom: 1.6rem; }

.site-wrapper {
  max-width: 960px; 
  width: 760px; 
  margin: 5rem auto; 
}

.site-header-logo {
  max-width: 175px; 
  height: auto; 
  margin-bottom: 25px; 
}

.site-content {
  display: flex; 
} 

.sidebar {
  flex: 1 30%;
  padding-right: 4rem; 
  max-width: 175px;
}

.sidebar-nav { 
  margin: 0; 
  padding: 0; 
}
.sidebar-nav-item { list-style: none; }
.sidebar-nav-item-link {
  position: relative; 
  color: $color-black; 
  text-decoration: none; 
  display: block; 
  line-height: 28px; 
  font-size: 1.8rem;
  height: 30px; 
  padding: 0 1rem; 
  background: #F3F3F4;
  margin: 0 0 1rem; 
  &:hover {
    color: white; 
    background: $color; 
  }
  &::after {
    content: '';
    position: absolute;
    right: -5px; 
    top: -5px; 
    width: 0;
    height: 0;
    clear: both;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2rem 2rem 2rem 0;
    border-color: transparent white transparent transparent;
  }
}

.active {
  color: white; 
  background: $color; 
}

.main {
  flex: 1 65%;
}

.site-footer {
  margin-top: 1rem; 
  display: flex; 
  border-top: double #ddd; 
} 

// Post-related

.post {
  margin-bottom: 2rem;   
}

.post-header {
  margin-bottom: 5rem; 
}

.post-title {
  font-weight: normal; 
  color: $color; 
  margin-bottom: 1rem; 
  a { color: $color; }
}

.post-date {
  font-weight: normal; 
  color: $color; 
}

// Post Snippet

.post-snippet {
  display: flex; 
  text-decoration: none; 
  color: inherit; 
  border-top: double #bbb; 
  padding: 2rem 0; 
  &:hover {
    background: #fafafa;
  }
  &:first-of-type {
    margin-top: -2rem; 
    border-top: none; 
  }
}

.post-snippet-asset {
  flex: 0 0 30%; 
  padding-right: 2rem;
  img { margin: 0; }
}

.post-snippet-text {
  flex: 1 auto; 
  width: 70%;
}

.post-snippet-title {
  font-size: 1.6rem; 
  margin-bottom: .5rem; 
  font-weight: bold; 
}

// Utility 

.headspace {
  margin: 0; 
  padding: 0; 
  margin-bottom: 200px; 
  border: 1px solid white; 
}
