---
layout: page
permalink: /be/
category: be
---

{% for post in site.categories.be limit:1 %}
  <div class="card-wrapper">
  <div class="card">
    {% if post.asset %}
    <img class="card-image" src="/assets/images/{{ post.asset }}.jpg">
    {% endif %}
    
    <div class="card-content">
      <div class="card-header">
        <h1 class="card-header--title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <a href="/{{ post.category }}">{{ post.category }} well</a> // {{ post.date | date: "%m.%d.%y" }}
      </div>
    
      <p>{{ post.content }}</p>

    </div>
  </div>

</div>
{% endfor %}

<hr class="headspace">

{% for post in site.categories.be offset:1 %}
<a class="post-snippet" href="{{ post.url }}">
  {% if post.asset %}
    <span class="post-snippet-asset"><img src="/assets/images/{{ post.asset }}.jpg"></span>
  {% endif %}
  <span class="post-snippet-text">
    <h2 class="post-snippet-title">{{ post.title }}</h2>
    <span class="post-snippet-excerpt">{{ post.content | strip_html | truncate: 140 }}</span>
  </span>
</a>
{% endfor %}