---
layout: default
permalink: /eat/
category: eat
---
<hr class="headspace">
<h2>coming soon</h2>

{% for post in site.categories.eat %}
<a class="post-snippet" href="{{ post.url }}">
  {% if post.asset %}
    <span class="post-snippet-asset"><img src="/assets/images/{{ post.asset }}.jpg"></span>
  {% endif %}
  <span class="post-snippet-text">
    <h2 class="post-snippet-title">{{ post.title }}</h2>
    <span class="post-snippet-excerpt">{{ post.content | strip_html | truncate: 140 }}</span>
  </span>
</a>
{% endfor %}