<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>


  <body>
    <header class="site-header">
      <a href="/" class="site-header--title">The Living Well</a>
    </header>

    <div class="site-wrapper">
      <div class="site-content">        
        <div class="main">
          {{ content }}
        </div>
        
        <div class="sidebar">
          meet sk
          rotating image
          mailchimp
        </div>
      </div>
    </div>
      
    <footer class="site-footer">
      <ul class="site-footer--social">
        <li><a href="https://www.instagram.com/sarahkay_3"><img src="/assets/images/instagram.png"></a></li>
        <li><a href="https://www.facebook.com/thelivingwellblog"><img src="/assets/images/facebook.png"></a></li>
        <li><a href="https://www.etsy.com/shop/MyLivingWell"><img src="/assets/images/etsy.png"></a></li>
        <li><a href="https://www.flickr.com/gp/135284560@N02/rMZh3e"><img src="/assets/images/flickr.png"></a></li>
        </ul>
    </footer>
    
    <script type="text/javascript">
      var activeNav = document.getElementById("{{ page.category }}");
      activeNav.classList.add("active");
    </script>
  </body>
</html>
