<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>


  <body>
    <div class="site-wrapper">
      <div class="site-content">
        <div class="sidebar">
          <a href="/"><img class="site-header-logo" src="/assets/images/logo.png"></a>
          <ul class="sidebar-nav">
            <li class="sidebar-nav-item"><a id="live" href="/live/" class="sidebar-nav-item-link">live<span class="hide-on-small"> well</span></a></li>
            <li class="sidebar-nav-item"><a id="eat" href="/eat/" class="sidebar-nav-item-link">eat<span class="hide-on-small"> well</span></a></li>
            <li class="sidebar-nav-item"><a id="be" href="/be/" class="sidebar-nav-item-link">be<span class="hide-on-small"> well</span></a></li>
            <li class="sidebar-nav-item  hide-on-small"><a id="about" href="/" class="sidebar-nav-item-link">about</a></li>
          </ul>
          
          <ul class="sidebar-social">
            <li><a href="https://www.instagram.com/sarahkay_3"><img src="/assets/images/instagram.png"></a></li>
            <li><a href="https://www.facebook.com/thelivingwellblog"><img src="/assets/images/facebook.png"></a></li>
            <li><a href="https://www.etsy.com/shop/MyLivingWell"><img src="/assets/images/etsy.png"></a></li>
            <li><a href="https://www.flickr.com/gp/135284560@N02/rMZh3e"><img src="/assets/images/flickr.png"></a></li>
          </ul>
        </div>
        
        <div class="main">
          {{ content }}
        </div>
      </div>
      
      <footer class="site-footer">
        <div class="sidebar">
        
        </div>
        
        <div class="main">
        
        </div>
      </footer>
    </div>
    
    <script type="text/javascript">
      var activeNav = document.getElementById("{{ page.category }}");
      activeNav.classList.add("active");
    </script>
  </body>
</html>
