---
layout: default
---

<div class="card-wrapper">
  <div class="card">
    {% if page.asset %}
    <img class="card-image" src="/assets/images/{{ page.asset }}.jpg">
    {% endif %}
    
    <div class="card-content">
      <div class="card-header">
        <h1 class="card-header--title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <a href="/{{ page.category }}">{{ page.category }} well</a> // {{ page.date | date: "%m.%d.%y" }}
      </div>
    
      <p>{{ page.content  }}</p>
    </div>
  </div>

</div>